@layer tw_base, mantine, tw_components, tw_utilities;

/* import tailwind */
@import "tailwindcss/base" layer(tw_base);
@import "tailwindcss/components" layer(tw_components);
@import "tailwindcss/utilities" layer(tw_utilities);

/* import mantine */
@import "@mantine/core/styles.layer.css";


body {
  font-family: 'Alexandria', sans-serif;
}

.drawer-links .mantine-NavLink-label {
   font-size: 1rem;
 }

 

.mantine-Drawer-inner {
  max-width: 280px;
   
  background: #000;
}



 
 
  /* hide scrolbar on modal  */
.m_1b7284a3  {
  -ms-overflow-style: none; /* للإنترنت إكسبلورر */
  scrollbar-width: none; /* للفايرفوكس */
}